@model TaxonomyPrj2.ViewModels.IndexCategoriesViewModel;
@{
    ViewData["Title"] = "Category";
}

<input hidden type="text" value="Admin" id="constRole" />

<h1>Категории</h1>

<button type="button" id="createCategory" data-id="0" class="ProtectionAgainstRoleChanges btn btn-outline-success btn-lg btn-block">Добавить категорию</button>



<div id="myModalC" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">


            <div class="modal-header">
                <h5 class="modal-title">Редактирование</h5>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body" id="ModalViewC">
                <p>ТУТ СОДЕРЖИМОЕ М/О</p>
            </div>

        </div>
    </div>
</div>




<div class="container" id="infoTree">





</div>





@section Scripts
{
    <script src="~/js/indexCategories.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

}

<!--
      <script>

        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Извлеките все формы, к которым мы хотим применить пользовательские стили проверки начальной загрузки
                var forms = document.getElementsByClassName('needs-validation');
                // Перелистайте их и предотвратите отправку
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('click', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

-->
