@model TaxonomyPrj2.ViewModels.QuestionViewModel

<h1 align="center"> Вы уверены? </h1>
<button type="button" id="YesQuestionButton" data-id="@Model.Id" class="ProtectionAgainstRoleChanges btn btn-outline-danger btn-lg btn-block">ДА</button>
<button type="button" id="NoQuestionButton" class="ProtectionAgainstRoleChanges btn btn-outline-success btn-lg btn-block">ОТМЕНА</button>