
@{
    ViewData["Title"] = "Example";
}

<h1>Example</h1>
<form class="needs-validation" novalidate>



    <input type="text" class="form-control" id="validationCustom01" value="Mark" required>

    <div class="valid-feedback">
        Looks good!
    </div>







    <div class="form-row">
        <div class="col-md-4 mb-3">

            <input type="text" class="form-control" id="validationCustom01" placeholder="First name" value="" required>

            <div class="valid-feedback">
                Правильно!
            </div>
        </div>

    </div>

    <button class="btn btn-primary" type="submit">Submit form</button>
</form>

<script>
    
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Извлеките все формы, к которым мы хотим применить пользовательские стили проверки начальной загрузки
            var forms = document.getElementsByClassName('needs-validation');
            // Перелистайте их и предотвратите отправку
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

</script>