
@{
    ViewData["Title"] = "Example";
}



<h1>Example</h1>
<input  type="text" value="CommonUser" id="constRole" />


<ul class="treeline">
    <li>
        Главное меню
        <ul>
            <li>
               База знаний 
                <ul>
                    <li>Компоненты</li>
                    <li>Плагины</li>
                    <li>Модули</li>
                </ul>
            </li>
            <li>Отзывы</li>
            <li>Контакты</li>
        </ul>
    </li>
</ul>

<form class="needs-validation" novalidate>



    <input type="text" class="form-control" id="validationCustom01" value="Mark" required>

    <div class="valid-feedback">
        Looks good!
    </div>







    <div class="form-row">
        <div class="col-md-4 mb-3">

            <input type="text" class="form-control" id="validationCustom01" placeholder="First name" value="" required>

            <div class="valid-feedback">
                Правильно!
            </div>
        </div>

    </div>

    <button class="btn btn-primary" type="submit">Submit form</button>
</form>

